<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <title>Modifica PC</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css"> 
    </head>
    <body>
        <p><a href="/">Ritorna Home page</a></p>
        <p class="intestazione">ID Autore</p>
        <p class="intestazione2">ID Libro</p>
        <form method="POST" action="/modrelazione">
            <input type="hidden" name="id" value="<%= relazione.id %> ">
            <select name="id_autore">
                <% autori.forEach(autore => { %>
                    <option value="<%= autore.id %>" > <%= autore.id %> - <%= autore.cognome %> </option>
                <% }) %>
            </select>
            <select name="id_libro">
                <% libri.forEach(libro => { %>
                    <option value="<%= libro.id %>" > <%= libro.id %> - <%= libro.titolo %> </option>
                <% }) %>
            </select>
            <input type="submit" value="Modifica">
        </form>
    </body>
</html>
